@mixin dispositivo($resolucion) {
    @media (min-width: $resolucion){
        @content;
    }
}

@mixin grid ($columnas,$espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $espaciado; 
}