:root {
    --primario:#faabfb;
    --primarioMediano: #ed04b3;
    --primarioOscuro: #72197f;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #ffffff;
    --negro: #000000;

    --fuentePrincipal: 'kalam', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* GLOBALES */
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3 {
    color: var(--primarioMediano);
    font-family: var(--fuentePrincipal);
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/*CSS utilizando BEM*/
/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 1rem 0;
    width: 250px;
}

/* Navegación Principal */

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 5rem; /* Separación forma nueva. 
    sino usar margin right y eliminar el margin del 
    ultimo con last-in-type*/
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.2rem;
    text-transform: uppercase;    
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    color: var(--blanco);
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 1.8rem;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

@media (min-width: 768px){
    .grid {
        grid-template-columns: repeat(3,1fr);
    }   
}

/* PRODUCTOS */

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__imagen {
    width: 100%;
}

.producto__nombre {
    font-size: 3.2rem;
}

.producto__precio {
    font-size: 2rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;    
}

/* BANNERS */
.banner {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.banner--izquierdo {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.banner--derecho {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px){
    .banner--derecho {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }    
}

/* NOSOTROS - QUIEN SOY */

.quiensoy {
    display: grid;
    grid-template-rows: repeat(2,auto);
}

@media (min-width: 768px){
    .quiensoy {
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
    .quiensoy__imagen {
        grid-column: 2 / 3;
    }          
}
.quiensoy__contenido {

}
.quiensoy__imagen {
    grid-row: 1 / 2;
    width: 100%;
}

/* PORQUE ELEGIRNOS */

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px){ 
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}
.bloque {
    text-align: center;

}

.bloque__titulo {
    margin: 0;
}

.bloque__imagen {
    width: 100%;
}

/* PAGINA DEL PRODUCTO */

@media (min-width: 768px){
    .infoproducto {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }    
}
.infoproducto__imagen {
    width: 100%;
}

.infoproducto__contenido {

}

.formulario {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;

}
.formulario__campo {
    border: 1rem solid var(--primarioOscuro);
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;

}
.formulario__submit {
    background-color: var(--secundario);
    font-size: 2rem;
    border: none;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color 0.4s ease;
    transition: font-size 0.4s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    font-size: 2.4rem;
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}