.boletos {
    padding: $separacion/2 0;

    h3 {
        color: $blanco;
        text-align: center;
    }
}

.boletos__contenedor {
    @include dispositivo(768px){
        @include grid(2,$separacion);
        justify-content: space-evenly;
    } 
    .plan {
        p {
            color: $blanco;
            text-align: center;
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }   
}

.pase {
    width: 100%;
    border-spacing: 0;
    thead {
        background-color: $rosa;
        th {
            padding: $separacion/4;
            font-weight: $delgada;
            color: $blanco;
            text-transform: uppercase;
            font-size: 2rem;
        }
    }
    tbody {
        background-color: $blanco;
        td {
            padding: $separacion/4;
            border-bottom: 1px solid #e1e1e1;
        }
        tr {
            &:last-of-type {
                td{
                    border:none;
                }
            }
        }

    }
    tfoot {
       background-color: $violeta;
       td{
           padding: $separacion/4;
           color: $blanco;
           text-align: center;
           font-size: 3rem;
       }
    }
}